body {
    font-family: Arial;
    background: linear-gradient(to right, #dfe9f3, #ffffff);
    margin: 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

img {
    width: 150px;
    border-radius: 50%;
}

h1 {
    color: #222;
}

a {
    text-decoration: none;
    color: white;
    background: #007bff;
    padding: 8px 15px;
    border-radius: 5px;
}

a:hover {
    background: #0056b3;
}